footer {
    background-color:#3A3E43;
    /*margin-top: 150px;*/
    font-family: 'Open Sans', sans-serif;
}

.categoria-footer {
    background-color: #3A3E43!important;
    text-decoration: none;
    display: flex;
}
.categoria-footer a {
    text-decoration: none;
    color: white;
}
.categoria-footer a:hover {
    text-decoration: none;
    color:gray;
}

.popular-post a {
    text-decoration: none;
    color: #FFF;
}

.popular-post a:hover {
    text-decoration: none;
    color: gray;
}

#post-image {
 height:70px;
 width:70px;
 margin:4px;
}

#instagram-image-footer {
 height:70px;
 width:70px;
 margin:4px;
}

#resaux-footer {
    background-color:#303336;
    color: aliceblue;
}