footer{
    background-color:#3A3E43;
    margin-top: 350px;
    font-family: 'Open Sans', sans-serif;
}

#titulos{
    color: gray;
}

#resaux-footer{
    background-color:#303336;
    color: aliceblue;
}
#categoria-footer{
    background-color: #3A3E43;
    text-decoration: none;
    display: flex;
}
#categoria-footer a:link{
    text-decoration: none;
    color: #FFF;
}
#categoria-footer a:hover{
    color: gray;
}

.popular-post a:link{
    text-decoration:none;
    color: #FFF;
}

.popular-post a:hover{
    color: gray;
}

#post-image{
 height:70px;
 width:70px;
 margin:4px;
}

#instagram-image-footer{
 height:70px;
 width:70px;
 margin:4px;
}