body, html {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 3em;
}

#titleFoodog {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 2.2em;
}

#dropdownMenuButton {
    border: none;
    background-color: transparent;
    outline: none;
}

#nutrition:hover {
    border-left: solid #FF9D7E 5px;
}

#nutrition:focus { 
    background-color: black;
}

#wellness:hover {
    border-left: solid orange 5px;
}

#wellness:focus { 
    background-color: black;
}

#lifestyle:hover {
    border-left: solid orange 5px;
}

#lifestyle:focus { 
    background-color: black;
}

#comunity:hover {
    border-left: solid orange 5px;
}

#comunity:focus { 
    background-color: black;
}


/*-------------- Form ---------------- */
#inputEmailHeader, #sign-up {
    border-radius: 0;
    height: 2em;
    font-size: .7em;
    font-weight: bold;
}

#inputEmailHeader {
    border: solid black 1px;
    line-height: 1.6; /* If Placeholder of the input is moved up, rem/modify this. */
    width: 11em;
}

#sign-up {
    border: solid black 1.5px;
    line-height: 1;
}

#submit_form p {
    font-size: 0.7em;
}

/*-- Logos droite ----*/

#logo_farmer {
    height : 2.5em;
}

#loupe {
    height: 1.5em;
} 

#searchInput {
    display: none;
    height: 1.6em;
} 


@media screen and (max-width: 812px) {
    #submit_form {
        display: none;
    }

    #titleFoodog {
        margin-left: 40px;
        margin-right: 0;
    }
    #logo_farmer {
        display: none;
    }

    #dropdownMenuButton {
        padding: 0;
    }

    #searchInput {
        width: 4.8em;
    }
  }