* {
    font-family: 'Open Sans';
    color: #404040;
}
#top-title {
    text-align: center;
    font-family: 'Crimson Text';
    font-weight: 700;
    padding-top: 2vh;
}

#navbar {
    text-align: center;
    text-transform: uppercase;
}

#navbar a {
    color: #404040;
    font-weight: 500;
    padding: 0 1vw;
    letter-spacing: 1px;
}

#header-hr {
    opacity: 0.7;
}

.image-100 {
    width: 100%;
}

#top-title-link {
    color: #404040;
}