body, html {
    font-family: 'Open Sans', sans-serif;
}

/* header {
  /*   display: block;
    /* height: 15vh; 
} */

header h1 {
    display: inline;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 600;
}

.fa-bars {
    position: relative;
    opacity: 0.6;
    margin-top: 3.3vh;
}
#dropdownMenuButton {
    border: none;
    /* margin-top: 3vh; */
}

/*-------------- Form ---------------- */
#exampleInputEmail1 {
    border-radius: 0;
    border: solid black 1px;
}

#sign-up {
    border-radius: 0;
    border: solid black 1.5px;
}

#submit_form p {
    font-size: 0.8em;
}
/*-- Logo droite ----*/

#logo_farmer {
    height : 15vh;
}

#loupe {
    height: 6vh;
    margin-top: 5.1vh;
}

