.titles {
    text-align: center;
}

.titles h6 {
    font-size: .7em;
    color: #ff8d6a;
}

.titles h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: .7em;
}

hr {
    text-align: center;
    width: 100%;
}

.social img {
    display: inline;
    max-width: 10%;
    height: auto;
    margin-top: -1em;
    margin-bottom: -1em;
}

.social p {
    display: inline;
    font-size: .5em;
    color: #c1c1c1;
}

.social p a {
    text-decoration: none;
    color: #c1c1c1;
}

.comment-button {
    font-size: .5em;
    border-radius: .3em;
    background-color: #555555;
    color:white;
    margin-left: 15em;
}

i {
    color: white;
    margin-right: .5em;
}

.social a:hover {
    color: black;
}

.share_me {
    color: black;
    font-size: .7em;
    text-decoration: none!important;
}

.facebook-img {
    width: 5%;
}

.twitter-img {
    width: 5%;
}

.pinterest-img {
    width: 5%;
}



.paragraph-text h6 {
    font-weight: 800;
}

.share-host {
    font-size: .5em;
    border-radius: .3em;
    color:white;
}

#comment-btn {
    background-color: #555555;
}

#facebbok {
    background-color: #899DCE;
}

#twitter {
    background-color: #60D2F5;
}

#pinterest {
    background-color: #F74C53;
}

/*/////////////// Logo farmer explanation ////////////// */
#logo_farmer2 {
    height : 3.5em;

}

#farmerTitle h6 {
    font-weight: 900;
    font-size: .9em;
}

#farmerTitle p {
    font-weight: 900;
    font-size: .6em;
    color: grey;
}


/*/////////      May interest-    ///////////*/
#h6MayInterest  {
    display: block;
    position: relative;
}

#h6MayInterest h6 {
    display: inline-block;
    position: relative;
    background-color: #fff;
    margin: 0;
    padding: 0 15px 0 0;
    z-index: 10;
    font-weight: 700;
}

#h6MayInterest:after {
    content: '';
    height: .2em;
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.imgItem {
    width: 7em;
    height: 7em;
}
/* UL */
#ulMayInterest {
    list-style: none;
    padding-left: 0;
}

#ulMayInterest li p {
    width: 8.2em;
    font-weight: 700;
    font-size: 90%;
}

/*///////////   Form     /////////////*/
fieldset {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}

#textArea, #name, #email, #website {
    border-radius: 0;
}

#sign-upForm {
    border-radius: 0;
    height: 3em;
    padding-left: .9em;
    padding-right: .9em;
    font-size: 1em;
    font-weight: bold;
}

@media (min-width: 321px) and (max-width: 736px) {
    .social {
        display: none;
    }

    #test {
        display: inline;
    }

   /*  .imgItem {
        width: 8em;
    } */

    #ulMayInterest li p {
       /*  width: 9em; */
        text-align: center;
    }

    #item3 {
        margin-top: 1.3em;
    }
}